.LogIn {
    margin: auto;
    margin-top: 20px;
    width: max-content;
    

    & h2{
        margin-bottom: 10px;
    }

    & .input {
        margin-bottom: 10px;
    }

    .validation {
        /* margin-top: 10px; */
        color: red;
    }
}