.LikeButton {

    & .user{
        display: flex;
        justify-content: right;
        padding: 10px;

    }

    & .like_button {
        border-radius: 50px;
        font-size: 15px;
        height: 30px;
        width: 100px;
        padding-top: 3px;

    }

    & .admin{
        display: flex;
        justify-content: right;
    }


    & .admin_buttons {
        box-shadow: 0px 0px 10px 0px rgba(53, 53, 53, 0.75);
        font-size: 15px;
        height: 30px;
        margin: 10px;
        width: 100px;
        padding-top: 3px;

    }

    & .dialog{
        padding: 30px;

        & .buttons{
            margin-top: 20px;
            margin-bottom: -10px;
        }
    }
}

.liked {
    background-color: #ff5a5f;
    border-color: #ff5a5f;
    color: white;
}

.notLiked {
    background-color: #ffffff;
    border-color: #ff5a5f;
    color: #ff5a5f;
}